.error {
    color: red;
    font-style: italic;
    text-shadow: 0px 0px 6px red;
    font-size: 12px;
}

.control-label {
    color: darkslategrey;
}

table.dataTable thead .sorting_asc {
    background-image: url(/images/sort_asc.png);
}

table.dataTable thead .sorting_desc {
    background-image: url(/images/sort_desc.png);
}

table.dataTable thead .sorting {
    background-image: url(/images/sort_both.png);
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_asc:after {
    content: none !important;
}

table.dataTable thead .sorting_desc:after {
    content: none !important;
}

table.dataTable thead .sorting:after {
    content: none !important;
}

.filter input, .filter select {
    width: 100% !important;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    border-radius: 6px;
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 1);
    box-shadow: 0 0 35px rgba(0, 0, 0, 1);
}

.sorting_1 {
    background-color: #fbfbfb;
}

.dataTable thead tr th:last-child {
    min-width: 105px !important;
    text-align: center;
}

.dataTable thead .filter th:last-child, .filter-date {
    width: 1%;
    white-space: nowrap;
}

.filter th .select2 {
    width: 100% !important;
}

.filter-date-from {
    padding-left: 0;
}

.filter-date-to {
    padding-right: 0;
}

.filter-date {
    min-width: 150px !important;
}

.filter-date .form-group div:first-child {
    margin-bottom: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.modal-xl {
    width: 95%;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

ul.thumbnails.image_picker_selector li {
    margin: 0 8px 0 0;
    width: 134px;
    float: left;
}

.remove-picture {
    position: relative;
    top: -149px;
    left: 96px;
    color: red;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

.thumbnail {
    height: 150px;
}

#select-picture-modal {
    overflow-y: auto;
    overflow: hidden;
}

ul.thumbnails.image_picker_selector {
    overflow: hidden;
}

#loading {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1051;
    display: none;
}

.lds-spinner {
    color: inherit;
    display: inline-block;
    position: relative;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pictures-num {
    margin-left: 10px;
    margin-top: 5px;
}

.product-pictures img {
    width: 49%;
}

legend {
    width: auto;
    margin-bottom: auto;
    border-bottom: none;
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    border-top: 1px solid #e1e5ee;
}

#product-picture img {
    width: 100%;
}

#variations {
    display: none;
}

.my-box {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.my-col-md-4 {
    padding-left: 0;
}

#variations input {
    margin-bottom: 5px;
}

#variations .input-group-btn {
    top: -2px;
}

.ml-0 {
    margin-left: 0;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.pd-0 {
    padding-left: 0;
}

.pd-5 {
    padding-left: 5px;
}

.pd-10 {
    padding-left: 10px;
}

.pd-15 {
    padding-left: 15px;
}

.pd-20 {
    padding-left: 20px;
}

body {
    color: darkslategrey;
}

input[type=checkbox], input[type=radio] {
    margin-top: -2px;
}